.profile__people {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile__people {
    flex-direction: column;
    padding-bottom: 36px;
  }
}
