.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 48px 22px;
  row-gap: 10px;
  column-gap: 18px;
  grid-template-areas:
    "name pencil"
    "feature .";
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-columns: 189px 18px;
    grid-template-rows: 33px 17px;
    row-gap: 8px;
    column-gap: 10px;
  }
}
