.popup__button-save_inactive {
  opacity: 0.2;
  border: 1px solid #000000;
  color: #000000;
  background-color: #e5e5e5;
}

.popup__button-save_inactive:hover {
  cursor: none;
  opacity: 0.2;
  transition: none;
}
