.profile__pencil {
  grid-area: pencil;
  background: none;
  border: 1px solid #ffffff;
  padding: 7px;
  margin-top: 15px;
  margin-bottom: 9px;
  cursor: pointer;
  opacity: 1;
  background-image: url("../../../images/Vectorbut.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
}

@media screen and (max-width: 768px) {
  .profile__pencil {
    margin-top: 8px;
    margin-bottom: 7px;
    padding: 5.25px;
    background-size: 7.5px 7.5px;
  }
}

.profile__pencil:hover {
  opacity: 0.6;
  transition: opacity 0.5s linear;
}
